{% if ddr_gitki_elasticsearch_enabled %}
    <form class="navbar-form navbar-left" role="search"
          action="{{ path('ddr_gitki_elasticsearch_search') }}"
          method="POST">
        <div class="form-group">
            <input id="form_searchString" name="form[searchString]" type="text" class="form-control"
                   placeholder="Search">
        </div>
    </form>
{% endif %}