<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ ddr_gitki_name }}{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css"
              href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
              media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ddrgitkibase/css/style.css') }}"
              media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ddrgitkibase/css/print.css') }}" media="print" />
    {% endblock stylesheet %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
{% block body %}
{% endblock body %}
{% block javascript %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        /* Open certain links in new tabs */
        $('a[rel~=external]').attr('target', '_blank');
        $('a[rel~=newtab]').attr('target', '_blank');
    </script>
{% endblock javascript %}
</body>
</html>
