<div class="border-bottom mb-3">
    <h1 class="mt-3 mb-3">Change Password</h1>
</div>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
{{ form_end(form) }}
