###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

!/var/data/.gitkeep

/build/
/bin/*
!bin/admin
!bin/console
!bin/symfony_requirements
!bin/update-dev
!bin/update-prod
!bin/update-design
!bin/install-prod
!bin/set-permissions
!bin/run-tests
!bin/phpunit
