/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
!bin/update-dev
!bin/update-prod
!bin/update-design
/composer.phar
/composer.lock
/.idea/
/src/Net/Dontdrinkandroot/Gitki/BaseBundle/Resources/public/css/style.css
