/web/bundles/
/app/config/parameters.yml
/app/config/gitki.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/data/*
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/data/.gitkeep
/build/
/vendor/
/bin/*
!bin/admin
!bin/console
!bin/symfony_requirements
!bin/update-dev
!bin/update-prod
!bin/update-design
!bin/install-prod
!bin/set-permissions
!bin/run-tests
/composer.phar
/.idea/
# /composer.lock
# /src/Net/Dontdrinkandroot/Gitki/BaseBundle/Resources/public/css/style.css
# /src/Net/Dontdrinkandroot/Gitki/BaseBundle/Resources/public/css/print.css
