<ol class="breadcrumb pull-left">
<li><a href="{{ path('ddr_gitki_wiki_directory', {'path': '/', 'action': 'index'}) }}"><span
                    class="fa fa-home"></span></a></li>
    {% if path.hasParentPath %}
        {% for parentPath in path.parentPath.collectPaths %}
            {% if parentPath.name is not empty %}
                <li>
                    <a href="{{ path('ddr_gitki_wiki_directory', {'path': parentPath, 'action': 'index'}) }}">{{ parentPath.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <li class="active">{{ path.name }}</li>
</ol>