{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block container %}
    <div class="page-header">
        <h1>History</h1>
    </div>
    {{ include('DdrGitkiBaseBundle:Wiki:history.partial.html.twig') }}
{% endblock %}