{% extends 'DdrGitkiBaseBundle:Wiki:base.html.twig' %}
{% block heading %}
    <span class="fa fa-lock"></span> Locked
{% endblock %}
{% block content %}
    <div class="alert alert-warning">The page you are trying to edit is locked by user "{{ lockedBy }}". Please try
        again
        later.
    </div>
{% endblock %}