$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0;
$enable-rounded: true;

$boder-radius-sm: .0625;
$border-radius: .125rem;
$border-radius-lg: .25rem;

@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';

html {
    font-size: 14px;
}

body {
    padding-top: 49px;
}

.ddr-gitki-header {

    border-bottom: solid 1px $border-color;

    .container {

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .ddr-gitki-breadcrumb {
            flex: 1;
        }

        .ddr-gitki-global-actions {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }
    }
}

.ddr-gitki-page-header, .page-header {
    padding-top: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px $gray-300;
}

.breadcrumb {
    margin-bottom: 0;
}

.ddr-gitki-history-entry {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 1rem;
}

h2.card-header, .h2.card-header {
    font-size: 1rem;
}

.ddr-gitki-directory-files, .ddr-gitki-directory-subdirectories {
    .list-group-item {
        display: flex;
        flex-direction: row;

        .ddr-gitki-item-actions {
            margin-right: 1rem;
        }

        .ddr-gitki-item-name {
            flex: 1;
            display: flex;
            align-items: center;
        }
    }
}
