@import "../../../../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* Variables */

@golden-ratio: 1.618;

@gray-darker: #202020;
@gray-dark: #404040;
@gray: #808080;
@gray-light: #bfbfbf;
@gray-lighter: #dedede;
@gray-lightest: #f0f0f0;

@border-radius-base: 2px;

@breadcrumb-bg: #ffffff;
@breadcrumb-padding-vertical: 0;
@breadcrumb-padding-horizontal: 0;

@font-size-base: 14px;
@line-height-base: @golden-ratio;

@font-family-base: "Open Sans", sans-serif;

@font-size-h6: @font-size-base;
@font-size-h5: @font-size-base;
@font-size-h4: @font-size-base;
@font-size-h3: ceil((@font-size-h4 * 1.2));
@font-size-h2: ceil((@font-size-h3 * 1.2));
@font-size-h1: floor((@font-size-h2 * 1.2));

@heading-top-margin-modifier: 1.2;

@panel-default-border: @gray-lighter;

@navbar-default-color: @gray;
@navbar-default-bg: @gray-lightest;
@navbar-default-border: @gray-lighter;

@breadcrumb-active-color: @gray;

.navbar {

  .navbar-brand {
    font-weight: bold;
  }

  font-family: @headings-font-family;
  font-weight: 600;
}

#toc .panel-body > ul {
  margin-bottom: 0px;
}

body {
  padding-top: 51px;
}

ul {
  padding-left: @line-height-computed * 1.5;
}

.editor textarea {
  font-family: monospace;
  height: 500px;
}

.above_header_wrapper {
  padding-top: @line-height-computed / 2;
  border-bottom: 1px solid @gray-lighter;
}

.actions, .breadcrumb {
  margin-bottom: @line-height-computed / 2;
}

.breadcrumb {
  padding-top: @padding-base-vertical + 1;
  padding-bottom: @padding-base-vertical + 1;
}

.page-header {
  margin-top: 0;
}

.dropdown.directory-list-action {
  margin-right: @line-height-computed / 4;
}

img {
  max-width: 100%;
}

.h1, h1 {
  font-weight: bold;
}

.markdown-page {
  padding-top: 20px;
}

.markdown-html {

  .h1:first-child, h1:first-child {
    margin-top: 0px;
    padding-bottom: 19px;
    border-bottom: solid 1px @page-header-border-color;
    margin-bottom: 20px;
  }

  .h2:first-child, h2:first-child {
    margin-top: 0;
  }

  .h2, h2 {
    margin-top: @font-size-h2 * @heading-top-margin-modifier;
    margin-bottom: @line-height-computed - 9;
    line-height: @font-size-h2;
    padding-bottom: 10px;
    border-bottom: solid 1px @gray-lightest;
  }

  .h3, h3 {
    margin-top: @font-size-h3 * @heading-top-margin-modifier;
    margin-bottom: @line-height-computed;
    line-height: @font-size-h3;
  }

  .h4, h4 {
    margin-top: @font-size-h4 * @heading-top-margin-modifier;
    margin-bottom: @line-height-computed;
    line-height: @font-size-h4;
  }
}

a.missing {
  color: #bf0000;
}

/* Navbar from theme */

//
// Navbar
// --------------------------------------------------

// Default navbar
.navbar-default {
  #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: @navbar-border-radius;
  @shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  .box-shadow(@shadow);

  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: darken(@navbar-default-bg, 5%); @end-color: darken(@navbar-default-bg, 2%));
    .box-shadow(inset 0 3px 9px rgba(0, 0, 0, .075));
  }
}

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

// Inverted navbar
.navbar-inverse {
  #gradient > .vertical(@start-color: lighten(@navbar-inverse-bg, 10%); @end-color: @navbar-inverse-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered

  .navbar-nav > .active > a {
    #gradient > .vertical(@start-color: @navbar-inverse-bg; @end-color: lighten(@navbar-inverse-bg, 2.5%));
    .box-shadow(inset 0 3px 9px rgba(0, 0, 0, .25));
  }

  .navbar-brand,
  .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  }
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

/* Pulling */
.pull-left-xs {
  float: left !important;
}

.pull-right-xs {
  float: right !important;
}

@media (min-width: @screen-sm-min) {

  .pull-left-xs, .pull-left-sm {
    float: left !important;
  }

  .pull-right-xs, .pull-right-sm {
    float: right !important;
  }
}

@media (min-width: @screen-md-min) {
  .pull-left-xs, .pull-left-sm, .pull-left-md {
    float: left !important;
  }

  .pull-right-xs, .pull-right-sm, .pull-right-md {
    float: right !important;
  }
}

@media (min-width: @screen-lg-min) {
  .pull-left-xs, .pull-left-sm, .pull-left-md, .pull-left-lg {
    float: left !important;
  }

  .pull-right-xs, .pull-right-sm, .pull-right-md, .pull-right-lg {
    float: right !important;
  }
}