{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - {{ path }}{% endblock %}
{% block abovecontainer %}
    {% if gitki_wiki_show_breadcrumbs %}
        <div class="above_header_wrapper">
            <div class="container">
                {% block actions %}
                {% endblock %}
                {{ include('DdrGitkiBaseBundle:Wiki:breadcrumb.partial.html.twig', {'path' : path}) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block container %}
    {{ parent() }}
    {% block aboveheader %}
    {% endblock %}
    <div class="page-header">
        {% block pageheader %}
            <h1>{% block heading %}{% endblock %}</h1>
        {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
{% endblock %}