{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - {{ path }} - Upload{% endblock %}
{% block content %}
    {{ include('DdrGitkiBaseBundle:Wiki:breadcrumb.partial.html.twig', {'path' : path}) }}
    <div class="page-header">
        <h1>Upload File</h1>
    </div>
    {{ form(form) }}
{% endblock %}