{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - {{ path }}{% endblock %}
{% block content %}
    {{ include('DdrGitkiBaseBundle:Wiki:breadcrumb.partial.html.twig', {'path' : path}) }}
    <div class="page-header">
        <h1>{{ icon('lock') }} Locked</h1>
    </div>
    <div class="alert alert-warning">The page you are trying to edit is locked by user {{ lockedBy }}. Please try again
        later.
    </div>
{% endblock %}