<div class="panel panel-default toc">
<div class="panel-body">
        <ul class="list-unstyled">
            {% if ddr_gitki_toc_max_level > 1 %}
            {% for h2 in document.toc %}
            <li><a href="#{{ h2.id }}">{{ h2.text }}</a>
                <ul>
                    {% if ddr_gitki_toc_max_level > 2 %}
                    {% for h3 in h2.children %}
                    <li><a href="#{{ h3.id }}">{{ h3.text }}</a>
                        <ul>
                            {% if ddr_gitki_toc_max_level > 3 %}
                            {% for h4 in h3.children %}
                            <li><a href="#{{ h4.id }}">{{ h4.text }}</a>
                                <ul>
                                    {% if ddr_gitki_toc_max_level > 4 %}
                                    {% for h5 in h4.children %}
                                    <li><a href="#{{ h5.id }}">{{ h5.text }}</a>
                                        <ul>
                                            {% if ddr_gitki_toc_max_level > 5 %}
                                            {% for h6 in h5.children %}
                                            <li><a href="#{{ h6.id }}">{{ h6.text }}</a></li>
                                            {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>