<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">TOC</h2>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
        {% for h2 in document.toc %}
            <li><a href="#{{ h2.attributes.id }}">{{ h2.text }}</a>
                <ul>
                    {% for h3 in h2.children %}
                    <li><a href="#{{ h3.attributes.id }}">{{ h3.text }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>