{% extends 'DdrGitkiBaseBundle::base.html.twig' %}
{% block title %} - Issues{% endblock %}
{% block container %}
    <div class="page-header">
        <h1>Create Issue</h1>
    </div>
    {{ form(form) }}
{% endblock %}