<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{{ gitki_wiki_name }}{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
              media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ddrgitkibase/css/style.css') }}" media="screen"/>
    {% endblock %}
</head>
<body>
<header>
    {{ include('DdrGitkiBaseBundle::navigation.partial.html.twig') }}
</header>
<div id="content" class="container">
    {% block container %}{% endblock %}
</div>

{% block javascript %}
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
